<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Calculator" verbose="1" parallel="true" thread-count="2" >

	<test name="MavenTest">


		<packages>
			<package name="MavenTest">				
			</package>
		</packages>
		
		<classes>
 			<class name="MavenTest.DivDoubleTestException">
				<methods>
					<exclude name="testDivbyZero" />
				</methods>
			</class>
			<class name="MavenTest.MultiplyDoubleTest">
				<methods>
					<exclude name="testMult" />
				</methods>
			</class>
		</classes>

	
		 
		 
	</test>


</suite> 
